body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    'nav'
    'main';
}

nav {
    grid-area: "nav";
    display: flex;
    justify-content: space-around;
}

.coresclaro {
    color: black !important;
    background-color: white !important;
    transition: all 1s;
}

.coresescuro {
    color: white !important;
    background-color: rgb(0, 0, 0) !important;
    transition: all 0.5s;
}

nav .ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 20%;
    padding: 0;
    display: flex;
    align-items: center;
}

nav .ull {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8%;
    padding: 0;
}

main {
    grid-area: "main";
    display: flex;
    align-items: center;
    flex-direction: column;
}

