body {
    margin: 0;
}

.container {
    width: 100%;
    background: linear-gradient(135deg, #1e3c72, #2a5298, #4facfe);
    color: white;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.tudo {
    width: 50%;
    height: 100%;
}

.form {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.form input {
    width: 90%;
    height: 10%;
    border: 0;
    border-radius: 4px;
    padding-left: 10px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: all 1s;
}

.form input:focus {
    background-color: #7bc1ff;
    color: white;
}

.form select {
    width: 91.2%;
    height: 10%;
    border: 0;
    border-radius: 4px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: all 0.5s;
}

.form select:focus {
    background-color: #7bc1ff;
    color: white;
}

.form button {
    width: 90%;
    height: 10%;
    border: 0;
    border-radius: 4px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: all 0.5s;
}

.form button:hover {
    background-color: #4499e3;
    color: white;
}

.tudo .titulo {
    width: 100%;
    height: 20%;
    padding-left: 5%;
    padding-top: 4%;
}

.resultado {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto2 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escrita {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escrita p {
    font-size: 30px;
}